<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <img src="./style/image/logo_netflix.png" alt="Logo netflix" />
        </div>
        {% block form %}{% endblock %}
      </nav>
    </header>

    <main>
      {% if movies %}
      <section class="page">
        <img src="../style/image/test.png" width="100%" alt="" />
      </section>
      {% else %} {% block section %}{% endblock %} {% endif %}

      <section class="content">{% block content %}{% endblock %}</section>
    </main>
  </body>
</html>
