<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <img src="./style/image/logo_netflix.png" alt="Logo netflix" />
        </div>
        {% block form %}{% endblock %}
      </nav>
    </header>

    <main>
      <section class="page">
        <h1>Welcome to the future of streaming</h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Consequuntur, ad dolorum commodi exercitationem at sequi dolores.
          Recusandae deserunt suscipit minima eos labore molestias, quam omnis.
          Temporibus aspernatur aliquam delectus odio!
        </p>
        {# {% block photo %}{% endblock %} #}
      </section>

      <section class="content">{% block content %}{% endblock %}</section>
    </main>
  </body>
</html>
