{% extends "base.html.twig" %}
{% block section %}
	<section class="page">
		<img src=".{{ movie.image }}" width="100%" alt=""/>
	</section>

{% endblock %}


{% block content %}

	{{ movie.genre }}


{% endblock %}
